.titlebox .word { display: none }	/* hide the default "readers" */
.titlebox .number::before { content: "Welcome to Sunnydale. Population: " } /* insert our own text before the number */

.helplink { font-size: 0; content: ""; margin-top: 0 !important }	/* hide "message the mods" */
.helplink::before { font-size: small; content: "message the gang" }
.helplink + div h1 { font-size: 0; content: "" }	/* hide "moderators" */
.helplink + div h1::before { font-size: 14px; content: "Scooby Gang" }

/* header bar. color, background image, and a slight shadow */
#header-bottom-left { background: #600 url(%%header3%%) no-repeat; height: 75px; box-shadow: 0 0 6px #555 }
#sr-header-area { border: 0 }
#header { border: 0; border-bottom: 1px }
.pagename a { position: relative; bottom: 2px; color: #ddd } /* the subreddit name next to the Snoo */
.side .redditname { display: none }	/* the subreddit name in the sidebar */

/* link colors */
a, .tagline a, .thing .title, .thing .title.loggedin { color: #c11 }
a:hover { color: #e80; text-decoration: underline }
.thing .title:hover, .thing .title.loggedin:visited:hover, .thing a:visited:hover, .single-page .thing a.title:hover, .tagline a:hover { color: #e80 }
a.author:hover, .thing .md p > a:visited:hover { color: #e80 !important }
.thing .title:visited, .thing .title.loggedin:visited { color: #444 }
.thing .md p > a:visited { color: #444 !important }

.buttons a { color: #666 !important }
.commentarea .menuarea, .tagline { color: #666 }
.newComments { color: #c11 !important }	/* RES new comment count */
.likes div.score.likes { color: #c11 }		/* score if user upvoted */
.link div.score.dislikes { color: #444 }	/* score if user downvoted */
.flat-list .selected a { color: #c11 }		/* the selected one of "new | rising" */

.md { border-color: #444 !important }
.linkinfo { background: #ddd; border-color: #444 }
.thing { background: #fff }
#title-field, #url-field, #text-field, #reddit-field, .linefield { background: #ddd }
.tabmenu.formtab .selected a {
	border: 1px solid #a00;
	background: #300;
	color: #fff !important
}
.infobar {
	border: 1px solid #600;
	background: #ddd
}
.formtabs-content { border-top: 4px solid #500 }

/* spoiler tags */
a[href="/spoiler"], .comment .md p > a[href="/spoiler"], .usertext-body .md p > a[href="/spoiler"] {
	display: inline-block;
	overflow: hidden;
	background: #000;
	color: #000 !important;
	cursor: default
}
a[href="/spoiler"]:hover, .comment .md p > a[href="/spoiler"]:hover, .usertext-body .md p > a[href="/spoiler"]:hover {
	color: #fff !important;
	text-decoration: none
}
a[href="#s"], .md p > a[href="#s"] { text-decoration: none !important; cursor: default; background: #000; color: #fff !important; display: inline-block }
a[href="#s"]::after, .md p > a[href="#s"]::after { font-size: small; content: attr(title); color: #000; padding: 0 0.5em; visibility: visible }
a[href="#s"]:hover, .md p > a[href="#s"]:hover { color: #fff !important }
a[href="#s"]:hover::after, a[href="#s"]:active::after, .md p > a[href="#s"]:hover::after, .md p > a[href="#s"]:active::after { color: #fff }

/* sidebar pics */
a[href="#sidebar_pic"] {
	display: inline-block;
	background: url(%%assets%%) 0 0 no-repeat;
	height: 212px;
	width: 298px;
	border: 1px solid #500
}

/* upstakes and downstakes */
.midcol { margin-left: 12px }
.link .midcol { padding-right: 10px }
.arrow { width: 16px; height: 18px; background-image: url(%%assets%%) !important }
.upmod { background-position: 0 -320px !important }
.downmod { background-position: 0 -342px !important }
.up { background-position: -16px -320px !important }
.down { background-position: -16px -342px !important }
.score { margin-left: 1px }

#link-desc::after, #text-desc::after {
	display: block;
	margin-top: 1em;
	font-weight: bold;
	content: "Thanks for checking up on the Scoobies! If you don't see your submission in the 'new' section, the Big Bads could have marked it as spam. If it doesn't show up after 30 minutes, please contact the Gang via mod mail so they can allow your post to enter the 'Verse!"
}

/* mail coffins */
#mail {
	background-image: url(%%assets%%) !important;
	height: 16px;
	display: inline-block
}
#mail.nohavemail { background-position: 0 -300px }
#mail.havemail { background-position: -16px -300px }

/* hide "created by" in the sidebar */
.bottom { display: none }

/* username styling for special users */
.author[href$="/ClareKramer"]::before {
	background: url(%%assets%%) -40px -290px no-repeat;
	content: "";
	width: 14px;
	height: 13px;
	display: inline-block;
	position: relative;
	top: 2px;
	margin-right: 2px
}
.author[href$="/ClareKramer"] { color: #000 !important }

.flair { color: #500 }	/* userflair text */

/* announcement sticky */
div.content { margin-top: 56px }	/* make some space above the main content */
.side { margin-top: -43px } /* move the sidebar down, too */
.titlebox form { position: static }
.side h3:nth-of-type(1) {
	position: absolute;
	display: block;
	top: 92px;
	left: 40px;
	background-color: #ddd;
	color: #444;
	text-align: left;
	margin-top: 9px;
	margin-left: 5px;
	border-radius: 8px;
	width: 50%;
	padding: 7px 0 7px 40px
}
.side h3:nth-of-type(1)::before {
	content: url(%%giles%%);
	position: absolute;
	margin-top: -9px;
	margin-left: -65px
}

/* table for the two-column related subreddits */
.side table {
	width: 260px
}
.side td {
	border: 0;
	padding: 2px;
	width: 120px
}
.side th {
	display: none
}

/* sidebar horiz divider */
.side hr {
	background: url(%%assets%%) 0 -280px no-repeat;
	width: 200px;
	height: 6px;
	border: 0;
	margin-top: 12px;
	margin-bottom: 12px
}

/* hide the old submit and create buttons */
.sidebox.submit, .sidebox.create, .nub { display: none }
/* new submit button */
a[href$="/r/buffy/submit"], a[href$="/reddits/create"] {
	display: inline-block;
	border: 1px solid #444;
	background: #ddd url(%%xbow%%) no-repeat 6px 0;
	width: 298px;
	height: 45px;
	text-align: center;
	line-height: 43px;
	font-size: 20pt;
	color: #c11;
	font-weight: bold;
	border-radius: 5px;
	margin-bottom: 5px
}
/* new create button */
a[href$="/reddits/create"] {
	font-size: 16pt;
	line-height: 1em;
	width: 290px;
	text-indent: 3%
}

/* link flair */
.linkflairlabel {
	border: 1px solid #c11;
	border-radius: 3px;
	color: #ddd;
	padding: 2px;
	font-weight: bold;
	border-color: #000;
	max-width: 9999px !important
}
.linkflair-lw .thumbnail { background: url(%%assets%%) -180px -320px no-repeat !important }
.linkflair-lw .linkflairlabel { background: #282 }
.listing-page .linkflair-spoiler .thumbnail { background: url(%%assets%%) -110px -320px no-repeat !important }
.linkflair-spoiler .linkflairlabel { color: #ddd; background: #600 }
.linkflair-spoiler a.title:hover { text-shadow: 0 0 0.2em #c11, 0 0 0.2em #c11, 0 0 0.2em #c11; color: #000 !important }
.listing-page .linkflair-spoiler .thumbnail img { opacity: 0 }	/* hide the thumbnail on spoiler linkflair */

/* "B" thumbnails */
.thumbnail.self, .thumbnail.default { background: url(%%assets%%) -40px -320px no-repeat }
.thumbnail { max-height: 50px }	/* it looks weird if the thumbnail is taller than the textual element beside it */
.listing-page .thing { min-height: 60px } /* but don't let things be small just because the thumbnails are capped at 50px */

/* some RES elements */
#REScommentSubToggle { color: #600 !important }
#REScommentSubToggle:hover { background: #ddd !important }
.selftext.collapsed { background: url(%%buttons%%) 0 -464px no-repeat !important }
.selftext.collapsed:hover { background: url(%%buttons%%) 0 -488px no-repeat !important }
.selftext.expanded { background: url(%%buttons%%) 0 -536px no-repeat !important }
.selftext.expanded:hover { background: url(%%buttons%%) 0 -512px no-repeat !important }
.video.collapsed { background: url(%%buttons%%) 0 -584px no-repeat !important }
.video.collapsed:hover { background: url(%%buttons%%) 0 -560px no-repeat !important }
.video.expanded { background: url(%%buttons%%) 0 -632px no-repeat !important }
.video.expanded:hover { background: url(%%buttons%%) 0 -608px no-repeat !important }
.image { background-image: url(%%buttons%%) !important }
.image:hover { text-decoration: none }

#header-bottom-right {
	background-color: transparent;
	z-index: 99;
	right: 30px;
	bottom: 10px;
	height: 14px;
	position: absolute;
	top: 18px !important;
	right: 0;
	padding: 4px 10px;
	border-radius: 0
}
#header-bottom-right .separator { color: #ddd }
#header-bottom-right .user { margin: 0 !important }
#header-bottom-right a, .userkarma { color: #ddd }
.userbarHide { border: none !important; color: #ddd !important; background: none !important; left: -14px !important; top: 3px !important }
.userbarShow { border: none !important; color: #ddd !important; background: none !important; left: -14px !important; top: 3px !important }



.tabmenu {
	position: relative;
	bottom: 1px
}
.tabmenu li a, .tabmenu li.selected a {
	position: relative;
	bottom: 4px;
	margin-bottom: 1px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border: 1px solid #000;
	background: #500;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: normal;
	color: #ddd
}
.tabmenu li.selected a {
	border: 1px solid #e80;
	background: #300;
	color: #e80 !important
}


#searchexpando {
	border: 1px solid #600;
	background: #ddd
}
#search {
	position: relative;
	z-index: 100;
	top: -2px;
	right: 2px
}
#search input[name="q"] {
	border: 1px solid #e80;
	border-radius: 4px;
	background-repeat: repeat-x;
	color: #444;
	font-size: 12px;
	padding: 5px;
	margin-bottom: 4px;
	width: 290px
}

/* real trophy case */
.usertext-body h1:nth-last-of-type(1) {
	color: #808080;
	font-size: 130%;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	width: 129px
}
.usertext-body table:nth-last-of-type(1) {
	border-collapse: separate;
	display: table;
	font-size: larger;
	width: 298px;
	background: #f5f5f5;
	border: 1px solid #808080;
	margin: 0;
	padding: 5px
}
.usertext-body table:nth-last-of-type(1) tr:nth-of-type(odd) { height: 40px }
.usertext-body table:nth-last-of-type(1) tr:nth-of-type(even) { height: 52px }
.usertext-body table:nth-last-of-type(1) tr:nth-of-type(1) { height: 20px }
.usertext-body table:nth-last-of-type(1) td {
	display: table-cell;
	margin: 0;
	padding: 0;
	text-align: center;
	vertical-align: top;
	width: 149px
}
.usertext-body table:nth-last-of-type(1) tr:nth-of-type(odd) td {
	background: url(%%trophies%%) no-repeat;
	height: 40px;
	width: 40px
}
.usertext-body table:nth-last-of-type(1) tr:nth-of-type(1) td:nth-of-type(1) { background-position: 55px 0 }
.usertext-body table:nth-last-of-type(1) tr:nth-of-type(1) td:nth-of-type(2) { background-position: 55px -40px }
.usertext-body table:nth-last-of-type(1) tr:nth-of-type(3) td:nth-of-type(1) { background-position: 55px -80px }
.usertext-body table:nth-last-of-type(1) tr:nth-of-type(3) td:nth-of-type(2) { background-position: 55px -120px }
.usertext-body table:nth-last-of-type(1) tr:nth-of-type(5) td:nth-of-type(1) { background-position: 55px -160px }
.usertext-body table:nth-last-of-type(1) tr:nth-of-type(5) td:nth-of-type(2) { background-position: 55px -200px }
.usertext-body table:nth-last-of-type(1) tr:nth-of-type(7) td:nth-of-type(1) { background-position: 55px -240px }
.usertext-body table:nth-last-of-type(1) tr:nth-of-type(7) td:nth-of-type(2) { background-position: 55px -280px }

/* random quotes
See https://github.com/listen2/reddit_misc/blob/master/README.md for more info */
input[name="uh"] ~ a::after, .user::before {
	position: absolute;
	top: 14px;
	right: 400px;
	width: 440px;
	height: 45px;
	font-style: italic;
	font-size: 14px;
	line-height: 1.1em;
	color: #ddd;
	z-index: 0;
	display: block;
	text-align: left;
	vertical-align: middle
}
.user::before {
	z-index: 10;
	content: " ";
	top: 15px;
	right: 405px;
	height: 45px;
	width: 505px
}
input[name="uh"][value^="b3"] ~ a::after { content: "I love what you've, um, neglected to do with the place." }
input[name="uh"][value^="a3"] ~ a::after { content: "We've seen each other at parties." }
input[name="uh"][value^="93"] ~ a::after { content: "They got... the mustard... out!" }
input[name="uh"][value^="83"] ~ a::after { content: "I'm under your spell. " }
input[name="uh"][value^="73"] ~ a::after { content: "Life's not a song. Life isn't bliss. Life is just this. " }
input[name="uh"][value^="63"] ~ a::after { content: "Let me rest in peace. " }
input[name="uh"][value^="53"] ~ a::after { content: "I'm just worried this whole session's gonna turn into some training montage from an eighties movie. " }
input[name="uh"][value^="43"] ~ a::after { content: "It must be bunnies! " }
input[name="uh"][value^="33"] ~ a::after { content: "The day you suss out what you do want, there'll probably be a parade. Seventy-six bloody trombones. " }
input[name="uh"][value^="23"] ~ a::after { content: "And your firm yet supple... tight embrace. " }
input[name="uh"][value^="13"] ~ a::after { content: "I gave birth to a pterodactyl. " }
input[name="uh"][value^="03"] ~ a::after { content: "The hardest thing in this world, is to live in it. " }
input[name="uh"][value^="z2"] ~ a::after { content: "It's about power. " }
input[name="uh"][value^="y2"] ~ a::after { content: "Oh, my name will be on everyone's lips. Assuming their lips haven't been torn off." }
input[name="uh"][value^="x2"] ~ a::after { content: "Ah, being popular isn't so great. Or so I've read in books." }
input[name="uh"][value^="w2"] ~ a::after { content: "I think it's pretty safe to say I'm not gonna see anybody that's invisible." }
input[name="uh"][value^="v2"] ~ a::after { content: "I planned to get killed, come back as a vampire, and bite you." }
input[name="uh"][value^="u2"] ~ a::after { content: "I go online sometimes, but everyone's spelling is really bad. It's... depressing." }
input[name="uh"][value^="t2"] ~ a::after { content: "I'm alive. I can tell 'cause of the pain." }
input[name="uh"][value^="s2"] ~ a::after { content: "What's a stevedore?" }
input[name="uh"][value^="r2"] ~ a::after { content: "And you know why I don't? Because it's wrong." }
input[name="uh"][value^="q2"] ~ a::after { content: "We were going to light a bunch of candles and have sex near them." }
input[name="uh"][value^="p2"] ~ a::after { content: "I happen to be very biteable, pal. I'm moist, and delicious." }
input[name="uh"][value^="o2"] ~ a::after { content: "Bunch of wanna blessed be's. Nowadays every girl with a henna tattoo and a spice rack thinks she's a sister to the dark ones." }
input[name="uh"][value^="n2"] ~ a::after { content: "Oh, you mean an orgasm friend?" }
input[name="uh"][value^="m2"] ~ a::after { content: "OK, remember how we talked about private conversations? How they're less private when they're in front of my friends?" }
input[name="uh"][value^="l2"] ~ a::after { content: "So tell me about your dream. As a Psych major, I'm qualified to go, 'hmmm.'" }
input[name="uh"][value^="k2"] ~ a::after { content: "They need to take seven and they might take yours. Can't call to mom, can't say a word; You're gonna die screaming but you won't be heard." }
input[name="uh"][value^="j2"] ~ a::after { content: "Dance with me. " }
input[name="uh"][value^="i2"] ~ a::after { content: "We're proud to say that the class of '99 has the lowest mortality rate of any graduating class in Sunnydale history." }
input[name="uh"][value^="h2"] ~ a::after { content: "I'm gonna give you all a nice, fun, normal evening if I have to kill every person on the face of the Earth to do it." }
input[name="uh"][value^="g2"] ~ a::after { content: "How am I supposed to stay away from you?" }
input[name="uh"][value^="f2"] ~ a::after { content: "Nothing personal, but when a guy does that, it just means his eyes are open." }
input[name="uh"][value^="e2"] ~ a::after { content: "I'm so evil and... skanky." }
input[name="uh"][value^="d2"] ~ a::after { content: "Well, look at me. I'm all fuzzy. " }
input[name="uh"][value^="c2"] ~ a::after { content: "Did anyone else just go to a scary visual place?" }
input[name="uh"][value^="b2"] ~ a::after { content: "Well, other bands know more than three chords. Your professional bands can play up to six, sometimes seven completely different chords." }
input[name="uh"][value^="a2"] ~ a::after { content: "Say, you all didn't happen to do a bunch of drugs, did ya?" }
input[name="uh"][value^="92"] ~ a::after { content: "Hands! Hands in new places!" }
input[name="uh"][value^="82"] ~ a::after { content: "Well, did you try looking inside the sofa in Hell?" }
input[name="uh"][value^="72"] ~ a::after { content: "Yeah, that's me. Reliable-Dog-Geyser Person. " }
input[name="uh"][value^="62"] ~ a::after { content: "Ooo, I used to want...Wait. Florist means crazy, right? I never wanted to do that." }
input[name="uh"][value^="52"] ~ a::after { content: "Ah. Speak of the really annoying person." }
input[name="uh"][value^="42"] ~ a::after { content: "Whenever Giles sends me on a mission, he always says “please.” And afterwards I get a cookie." }
input[name="uh"][value^="32"] ~ a::after { content: "I didn't get this job because of my looks." }
input[name="uh"][value^="22"] ~ a::after { content: "'Kiss rocks'? Why would anyone want to kiss... Oh, wait. I get it." }
input[name="uh"][value^="12"] ~ a::after { content: "Close your eyes." }
input[name="uh"][value^="02"] ~ a::after { content: "Then why would they make you see me?" }
input[name="uh"][value^="z1"] ~ a::after { content: "Cavalry's here. Cavalry's a frightened guy with a rock, but it's here." }
input[name="uh"][value^="y1"] ~ a::after { content: "I'm a Slayer, not a postal worker. " }
input[name="uh"][value^="x1"] ~ a::after { content: "And you've got people. Billions of people walking around like Happy Meals with legs. It's all right here." }
input[name="uh"][value^="w1"] ~ a::after { content: "If you're gonna crack jokes, then I'm gonna pull out your ribcage and wear it as a hat." }
input[name="uh"][value^="v1"] ~ a::after { content: "I mean, the last time I tortured somebody, they didn't even have chainsaws." }
input[name="uh"][value^="u1"] ~ a::after { content: "I defined something? Accurately? Guess I'm done with the book learning." }
input[name="uh"][value^="t1"] ~ a::after { content: "Something weird is going on. Isn't that our school motto?" }
input[name="uh"][value^="s1"] ~ a::after { content: "Don't worry, roller boy. I've got everything under control." }
input[name="uh"][value^="r1"] ~ a::after { content: "Watcher's pet." }
input[name="uh"][value^="q1"] ~ a::after { content: "It's a Claddagh ring. The hands represent friendship, the crown represents loyalty... and the heart... Well, you know..." }
input[name="uh"][value^="p1"] ~ a::after { content: "It must've been my multiple-personality guy talking. I call him Idiot Jed, glutton for punishment." }
input[name="uh"][value^="o1"] ~ a::after { content: "Well, see, I like that you're unpredictable." }
input[name="uh"][value^="n1"] ~ a::after { content: "I'll handle the Smurf. " }
input[name="uh"][value^="m1"] ~ a::after { content: "I'm seventeen. Looking at linoleum makes me wanna have sex." }
input[name="uh"][value^="l1"] ~ a::after { content: "I knew it! I knew it! Well, not 'knew it' in the sense of having the slightest idea, but I knew there was something I didn't know." }
input[name="uh"][value^="k1"] ~ a::after { content: "What can I say, hmm? I was going through a phase." }
input[name="uh"][value^="j1"] ~ a::after { content: "You can't see the stars, love. That's the ceiling. Also, it's day." }
input[name="uh"][value^="i1"] ~ a::after { content: "I'm gonna do what any man would do about it: somethin' damn manly." }
input[name="uh"][value^="h1"] ~ a::after { content: "I like to think of it less as a friendship and more as a solid foundation for future bliss." }
input[name="uh"][value^="g1"] ~ a::after { content: "I may be dead, but I'm still pretty. Which is more than I can say for you." }
input[name="uh"][value^="f1"] ~ a::after { content: "I told you to eat before we left." }
input[name="uh"][value^="e1"] ~ a::after { content: "As the soon-to-be-purple area of my jaw will attest, I did not let her go!" }
input[name="uh"][value^="d1"] ~ a::after { content: "I'm just gonna go home, lie down and listen to country music. The music of pain." }
input[name="uh"][value^="c1"] ~ a::after { content: "I'm not ashamed. It's the computer age. Nerds are in. They're still in, right?" }
input[name="uh"][value^="b1"] ~ a::after { content: "For a hundred years I offered ugly death to everyone I met, and I did it with a song in my heart." }
input[name="uh"][value^="a1"] ~ a::after { content: "It's alright. A vampire can't come in unless it's invited." }
input[name="uh"][value^="91"] ~ a::after { content: "Look, if you're gonna be popping up with this cryptic wise man act on a regular basis can you at least tell me your name?" }
input[name="uh"][value^="81"] ~ a::after { content: "Truth is, I thought you'd be taller, or bigger muscles and all that. You're pretty spry, though." }
input[name="uh"][value^="71"] ~ a::after { content: "To make you a vampire they have to suck your blood. And then you have to suck their blood. It's like a whole big sucking thing." }
input[name="uh"][value^="61"] ~ a::after { content: "I'll find her, wherever she is, tie her up, torture her until she likes me again." }
input[name="uh"][value^="51"] ~ a::after { content: "Oh, my God. Is this some sort of residual werewolf thing? This is very disturbing." }
input[name="uh"][value^="41"] ~ a::after { content: "She didn't even care enough to cut off my head or set me on fire. I mean, is that too much to ask? You know? Some little sign that she cared?" }
input[name="uh"][value^="31"] ~ a::after { content: "The earth is doomed." }
input[name="uh"][value^="21"] ~ a::after { content: "I like to think of myself more as a “guest-age”." }
input[name="uh"][value^="11"] ~ a::after { content: "We're to provide you anything you need to help ass-face here. Those were his exact words, ma'am." }
input[name="uh"][value^="01"] ~ a::after { content: "Hello! Two years of Tae Kwon Do and vampire strength. I think somebody's counting their chickens." }
input[name="uh"][value^="z"] ~ a::after { content: "It eats you, starting with your bottom." }
input[name="uh"][value^="y"] ~ a::after { content: "From beneath you, it devours." }
input[name="uh"][value^="x"] ~ a::after { content: "I'd like to test that theory." }
input[name="uh"][value^="w"] ~ a::after { content: "Everything feels weird. I mean, it's like ... I felt like I was in that cage for weeks!" }
input[name="uh"][value^="v"] ~ a::after { content: "I must be a vampire with a soul. I'm a good guy on a mission of redemption. I help the helpless!" }
input[name="uh"][value^="u"] ~ a::after { content: "Yes, and you do inspire a particular feeling of familiarity and ... disappointment." }
input[name="uh"][value^="t"] ~ a::after { content: "Who's calling me? Everybody I know lives here." }
input[name="uh"][value^="s"] ~ a::after { content: "And zombies don't eat brains anyway, unless instructed to by their zombie master. A lot of people get that wrong." }
input[name="uh"][value^="r"] ~ a::after { content: "An, we talked about the employee-employer vocabulary no-nos. That was number five." }
input[name="uh"][value^="q"] ~ a::after { content: "Out... for... a... walk. Bitch." }
input[name="uh"][value^="p"] ~ a::after { content: "Can I trade in the children for more cash?" }
input[name="uh"][value^="o"] ~ a::after { content: "I showed up on time, so I got to be cowboy guy." }
input[name="uh"][value^="n"] ~ a::after { content: "Um, could we go back to the haunted house? 'Cause this is creeping me out." }
input[name="uh"][value^="m"] ~ a::after { content: "A hundred dollars? You'll have to do a lot better than that. Two hundred." }
input[name="uh"][value^="l"] ~ a::after { content: "When it's dark and I'm all alone, and I'm scared or freaked out or whatever, I always think “What would Buffy do?” You're my hero." }
input[name="uh"][value^="k"] ~ a::after { content: "Congratulations to the class of 1999. You all proved more or less adequate. This is a time of celebration, so sit still and be quiet." }
input[name="uh"][value^="j"] ~ a::after { content: "Men are evil... Will you go with me?" }
input[name="uh"][value^="i"] ~ a::after { content: "On the hood of a police car?!" }
input[name="uh"][value^="h"] ~ a::after { content: "I guess the question really is: Who has less fear?" }
input[name="uh"][value^="g"] ~ a::after { content: "I wish Buffy Summers had never come to Sunnydale!" }
input[name="uh"][value^="f"] ~ a::after { content: "You'll fight, and you'll shag, and you'll hate each other 'til it makes you quiver, but you'll never be friends." }
input[name="uh"][value^="e"] ~ a::after { content: "You're not friends. You'll never be friends. You'll be in love 'til it kills you both. " }
input[name="uh"][value^="d"] ~ a::after { content: "Summers! You drive like a spaz!" }
input[name="uh"][value^="c"] ~ a::after { content: "Well, we try not to get killed. That's part of our whole mission statement: “Don't get killed.”" }
input[name="uh"][value^="b"] ~ a::after { content: "That's right, big boy. Come and get it." }
input[name="uh"][value^="a"] ~ a::after { content: "I would love to be upstairs watching TV or gossiping about boys or, god, even studying! But I have to save the world. Again." }
input[name="uh"][value^="9"] ~ a::after { content: "Do you think I chose to be like this? Do you have any idea how lonely it is? How dangerous? " }
input[name="uh"][value^="8"] ~ a::after { content: "The big moments are gonna come, you can't help that. It's what you do afterwards that count. That's when you find out who you are." }
input[name="uh"][value^="7"] ~ a::after { content: "No one asks for their life to change, not really. But it does. So, what are we, helpless? Puppets?" }
input[name="uh"][value^="6"] ~ a::after { content: "Passion is the source of our finest moments: the joy of love, the clarity of hatred, and the ecstasy of grief." }
input[name="uh"][value^="5"] ~ a::after { content: "I wish dating was like slaying. You know, simple, direct, stake to the heart, no muss, no fuss." }
input[name="uh"][value^="4"] ~ a::after { content: "She made me feel like a human being. That's not the kind of thing you just forgive." }
input[name="uh"][value^="3"] ~ a::after { content: "I dreamt that Giles and I opened an office supply warehouse in Vegas." }
input[name="uh"][value^="2"] ~ a::after { content: "Angel, when I look into the future, all I see is you! All I want is you." }
input[name="uh"][value^="1"] ~ a::after { content: "Lie to me." }
input[name="uh"][value^="0"] ~ a::after { content: "The words “let that be a lesson” are a tad redundant at this juncture." }
